{% extends 'article_app/base.html' %}
{% load i18n %}
{% load static %}
{% load bleach_filters %}
{% block title %}{% trans " Axborotnoma jurnali haqida" %} {% endblock %}
{% block content %}
    <div class="row"
         style="background-color: white; padding:15px; border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;">
        <div class="container">
            <br>
            {{ about_journal.body|bleach_clean }}
            <br>
        </div>
    </div>
    <br>

{% endblock content %}