<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static '/img/logo.ico' %}">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="{% static 'assets/css/forum/app.min.css' %}" rel="stylesheet"/>
    <!-- ================== END BASE CSS STYLE ================== -->

    <link href="{% static '/assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet"/>
    <link href="{% static '/assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet"/>

    <!-- ================== BEGIN PAGE CSS ================== -->
    <link href="{% static 'assets/plugins/bootstrap-social/bootstrap-social.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet"/>
    <!-- ================== END PAGE CSS ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}"
          rel="stylesheet"/>
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
          rel="stylesheet"/>
    <!-- ================== END PAGE LEVEL STYLE ================== -->
    <link href="{% static 'assets/plugins/ion-rangeslider/css/ion.rangeSlider.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/@danielfarrell/bootstrap-combobox/css/bootstrap-combobox.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/tag-it/css/jquery.tagit.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css' %}"
          rel="stylesheet"/>


    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>


</head>
<body style="background-color: #F8F9FC; font-family: Cambria, sans-serif;">
{% include 'article_app/includes/navbar.html' %}
{% include 'article_app/includes/banner.html' %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include 'article_app/includes/left_sidebar.html' %}<br>
            </div>
            <div class="col-lg-9">
                {% block content %}

                {% endblock content %}
            </div>
        {% include 'article_app/includes/tex_support.html' %}
        </div>
    </div>
</div>
{% include 'article_app/includes/footer.html' %}

<!-- ================== BEGIN BASE JS ================== -->
<script src="{% static 'assets/js/forum/app.min.js' %}"></script>
<script src="{% static 'assets/js/theme/google.min.js' %}"></script>
<!-- ================== END BASE JS ================== -->

<script src="{% static '/assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static '/assets/plugins/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'assets/plugins/gritter/js/jquery.gritter.js' %}"></script>
<script src="{% static 'assets/plugins/flot/jquery.flot.js' %}"></script>
<script src="{% static 'assets/plugins/flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'assets/plugins/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'assets/plugins/flot/jquery.flot.pie.js' %}"></script>
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{% static 'assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>
<script src="{% static 'assets/plugins/highlight.js/highlight.min.js' %}"></script>
<script src="{% static 'assets/js/demo/render.highlight.js' %}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{% static 'assets/plugins/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script src="{% static 'assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'assets/plugins/pwstrength-bootstrap/dist/pwstrength-bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/@danielfarrell/bootstrap-combobox/js/bootstrap-combobox.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/plugins/tag-it/js/tag-it.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'assets/plugins/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'assets/plugins/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-show-password/dist/bootstrap-show-password.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js' %}"></script>
<script src="{% static 'assets/plugins/clipboard/dist/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
<script src="{% static 'assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/showModal.js' %}"></script>
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
</script>
</body>
</html>