{% load i18n %}
{% load static %}
<form method="post" data-url="{% url 'check_current_test_expert' test.id %}" data-parsley-validate="true" enctype="multipart/form-data"
      id="check_current_test_expert_form">
    {% csrf_token %}
    {{ form.media }}
    <div class="modal fade viewArticleFont" id="check_current_test_expert_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ test.submission_test.submission.subject.name }}</h5>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover table-overflow">
                        <tr>
                            <td><b>{% trans "Fan:" %}</b></td>
                            <td><b>{{ test.submission_test.submission.subject.name }}</b></td>
                        </tr>
                        <tr>
                            <td><b>{% trans "Tili:" %}</b></td>
                            <td><span class="badge badge-blue">{{ test.submission_test.submission.lang.name }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>{% trans "Bob:" %}</b></td>
                            <td>{{ test.submission_test.submission.chapter.name }}</td>
                        </tr>
                        <tr>
                            <td><b>{% trans "Bo'lim:" %}</b></td>
                            <td>{{ test.submission_test.submission.section.name }}</td>
                        </tr>
                        <tr>
                            <td><b>{% trans "Qiyinlik darajasi:" %}</b></td>
                            <td><span
                                    class="badge badge-info">{% if test.submission_test.submission.type_test_upload.id == 1 %}
                                {{ test.submission_test.submission.level_dn.name }}
                            {% elif test.submission_test.submission.type_test_upload.id == 2 %}
                                {{ test.submission_test.submission.level_d.name }}
                            {% endif %} </span>
                            </td>
                        </tr>
                        {% if test.submission_test.submission.type_test_upload.id == 1 %}
                            <tr>
                                <td><b>{% trans "Qism:" %}</b></td>
                                <td>{{ test.submission_test.submission.part.name }}</td>
                            </tr>
                        {% endif %}
                        {% if test.submission_test.submission.type_test_upload.id == 2 %}
                            <tr>
                                <td><b>{% trans "Mavzusi:" %}</b></td>
                                <td>{{ test.submission_test.submission.topic.name }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td><b>{% trans "Qaysi qismga tegishligiga izoh:" %}</b></td>
                            <td>{{ test.submission_test.submission.link_literature }}</td>
                        </tr>
                        <tr>
                            <td><b>{% trans "Holati:" %}</b></td>
                            <td><span class="badge badge-warning">{{ test.status_test.name }}</span></td>
                        </tr>
                        <tr>
                            <td><b>{% trans "Tekshiruvchi ekspert:" %}</b></td>
                            <td>{{ expert.user.full_name }}</td>
                        </tr>
                        {% if test.submission_test.submission.type_test_upload.id == 1 %}
                            {% if test.submission_test.submission.part.key == 'l' or test.submission_test.submission.part.key == 's' %}
                                <tr>
                                    <td><b>{% trans "Audio:" %}</b></td>
                                    <td>
                                        <audio controls>
                                            <source src="{{ test.submission_test.audio.audio.url }}" type="audio/mpeg">
                                        </audio>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        <tr>
                            <td><b>{% trans "Faylni yuklab olish:" %}</b></td>
                            <td><a href="{{ test.submission_test.test.file_word.url }}" type="button"
                                   class="btn btn-xs btn-outline-warning" download="download"><img
                                    src="{% static 'img/word.png' %}" width="40" alt="word"></a></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="id_status"><b>{% trans "Tasdiq holatini belgilang" %}</b>&nbsp;<span
                                        class="text text-danger">*</span></label>
                                <select id="id_status" name="status"
                                        class="form-control status selectpicker"
                                        onchange="show(this)">
                                    {% for id, name in form.fields.status.choices %}
                                        {% if id == 3 and test.is_extra_expert %}
                                            <option value="{{ id }}">{{ name }}</option>
                                        {% elif id == 3 and not test.is_extra_expert %}
                                            <option hidden="hidden" value="{{ id }}">{{ name }}</option>
                                        {% else %}
                                            <option value="{{ id }}">{{ name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <script type="text/javascript">
                                    function show(select) {
                                        if (select.value === '1' || select.value === '3') {
                                            document.getElementById('id_message_tr').style.display = "block";
                                            document.getElementById('id_feedback_tr').style.display = "block";
                                        } else {
                                            document.getElementById('id_message_tr').style.display = "none";
                                            document.getElementById('id_feedback_tr').style.display = "none";
                                        }
                                    }
                                </script>
                            </td>
                        </tr>
                    </table>
                    <div class="row" style="display: none; padding: 0 1%;" id="id_message_tr">
                        <label for="id_message"><b>{% trans "Xabar qoldiring" %}<span class="text text-danger">*</span>
                        </b></label>
                        {{ form.message }}
                    </div>
                <br>
                    <div class="row" style="display: none; padding: 0 1%;" id="id_feedback_tr">
                        <label for="id_feedback"><b>{% trans "Feedback" %}<span class="text text-danger">*</span>
                        </b></label>&nbsp;&nbsp;
                        {{ form.file }}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="spinner-grow text-primary checkSpinner" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <div class="spinner-grow text-secondary checkSpinner" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <div class="spinner-grow text-success checkSpinner" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <div class="spinner-grow text-danger checkSpinner" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <div class="spinner-grow text-warning checkSpinner" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <div class="spinner-grow text-info checkSpinner" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <div class="spinner-grow text-light checkSpinner" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <div class="spinner-grow text-dark checkSpinner" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <button type="button" class="btn btn-outline-dark reloadBtn">{% trans "Yopish" %}</button>
                    <button type="submit" class="btn btn-outline-success check_current_test_expertBtn"><i
                            class="fa fa-check"></i>
                        &nbsp;{% trans "Saqlash" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $('.checkSpinner').css('display', 'none');
    $('body').on('click', '.reloadBtn', function () {
        window.location.reload();
    })
    $('body').on('submit', '#check_current_test_expert_form', function (e) {
        e.preventDefault();

        let formData = new FormData(this);
        let url = $('#check_current_test_expert_form').data('url');

        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                $('.checkSpinner').css('display', 'block');
                $('.check_current_test_expertBtn').prop('disabled', true);
            },
            success: function (response) {
                if (response.result) {
                    $('.check_current_test_expert_form').trigger("reset");
                    swal({
                        title: 'Muvaffaqiyat!',
                        text: response.message,
                        icon: 'success',
                        timer: 3000,
                        buttons: {
                            cancel: {
                                text: 'Cancel',
                                value: null,
                                visible: true,
                                className: 'btn btn-default',
                                closeModal: true,
                            },
                            confirm: {
                                text: 'Success',
                                value: true,
                                visible: true,
                                className: 'btn btn-success',
                                closeModal: true
                            }
                        }
                    });
                    window.location.reload();
                } else {
                    swal({
                        title: 'Diqqat!',
                        text: response.message,
                        icon: 'error',
                        timer: 3000,
                        buttons: {
                            cancel: {
                                text: 'Cancel',
                                value: null,
                                visible: true,
                                className: 'btn btn-default',
                                closeModal: true,
                            },
                        }
                    });
                }
            },
            complete: function (data) {
                $('.checkSpinner').css('display', 'none');
                $('.check_current_test_expertBtn').prop('disabled', false);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{% static '/assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>