{% extends 'user_app/base.html' %}
{% block base_content %}
<div id="page-container" class="fade">
    <div class="error">
        <div class="error-code">404</div>
        <div class="error-content">
            <div class="error-message">Kechirasiz. Bu sahifa topilmadi.</div>
            <div class="error-desc mb-3 mb-sm-4 mb-md-5">
            </div>
            <div>
                <a href="{% url 'main_page' %}" class="btn btn-success p-l-20 p-r-20">Bosh sahifa</a>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
            class="fa fa-angle-up"></i></a>
</div>
{% endblock %}