{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Taqrizchiga kelgan maqolalar" %}
{% endblock %}
{% block content %}
    <div id="content" class="content dashboard_reviewer">
        <h3 class="page-header">{% trans "Taqrizchiga kelgan maqolalar" %}</h3>
        <br>
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#uncheck" data-toggle="tab" class="nav-link active">
                            <span class="d-sm-none">{% trans "Tekshirilmagan maqolalar" %}</span>
                            <span class="d-sm-block d-none">{% trans "Tekshirilmagan maqolalar" %} &nbsp;<span
                                    class="badge badge-warning forshadow" id="uncheck_count_r"></span></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#check" data-toggle="tab" class="nav-link">
                            <span class="d-sm-none">{% trans "Tekshirish tugatilgan maqolalar" %}</span>
                            <span class="d-sm-block d-none">{% trans "Tekshirish tugatilgan maqolalar" %} &nbsp;<span
                                    class="badge badge-success forshadow" id="check_count_r"></span></span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="uncheck">
                        <div class="row">
                            <div class="col-md-6"><h5 class="m-t-10"> {% trans "Tekshirilishi kerak bo'lgan maqolalar" %}</h5>
                            </div>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody id="reviewer_uncheck_notifications">


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="check">
                        <div class="row">
                            <div class="col-md-6"><h5 class="m-t-10"> {% trans "Tekshirilgan maqolalar" %}</h5>
                            </div>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody id="reviewer_checked_notifications">


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        // XSS himoyasi uchun HTML escape funksiyasi
        function escapeHtml(text) {
            if (text === null || text === undefined) return '';
            const div = document.createElement('div');
            div.textContent = String(text);
            return div.innerHTML;
        }

        $(document).ready(function () {
            let url = '{% url 'reviewer_notifications' %}'.toString();

                    $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (response) {
                        $('#uncheck_count_r').text(response.uncheck_notifications.length);
                        $('#check_count_r').text(response.check_notifications.length);
                        $('#reviewer_uncheck_notifications').empty();
                        $('#reviewer_checked_notifications').empty();

                        if (response.uncheck_notifications.length > 0) {
                            for (let item of response.uncheck_notifications) {

                                let time = new Date(item.created_at);
                                let time_string = time.toLocaleString();

                                let uncheck = `<tr>` +
                                    `<td>` + escapeHtml(item.id) + `</td>` +
                                    `<td><b>` + escapeHtml(item.from_user__email) + `</b><br>` + escapeHtml(item.message) + `</td>` +
                                    `<td>` + escapeHtml(time_string) + `</td>` +
                                    `<td id="view_notif_id${escapeHtml(item.id)}"></td>` +
                                    `<td><button type="button" data-url="${escapeHtml(response.url)}${escapeHtml(item.id)}/" class="btn btn-outline-primary btn-md article_view_reviewer forshadow" style="float: right">
<i class="fas fa-fw m-r-5 fa-pen"></i></button></td>`
                                    + `</tr>`;

                                $('#reviewer_uncheck_notifications').append(uncheck);

                                if (item.notification_status__id === 1) {
                                    $('#view_notif_id' + item.id).html("<span class='badge badge-danger'>" + escapeHtml(item.notification_status__name) + "</span>");
                                }
                                if (item.notification_status__id === 2) {
                                    $('#view_notif_id' + item.id).html("<span class='badge badge-warning'>" + escapeHtml(item.notification_status__name) + "</span>");
                                }
                                if (item.notification_status__id === 3) {
                                    $('#view_notif_id' + item.id).html("<span class='badge badge-success'>" + escapeHtml(item.notification_status__name) + "</span>");
                                }

                            }
                        } else {
                            let tr = `<tr>` +
                                `<td><h3 class="text-center" style="color: green;">{% trans "Ma'lumot topilmadi." %}</h3></td>`
                                + `</tr>`;
                            $('#reviewer_uncheck_notifications').append(tr);
                        }

                        if (response.check_notifications.length > 0) {
                            for (let item of response.check_notifications) {

                                let time = new Date(item.created_at);
                                let time_string = time.toLocaleString();

                                let checked = `<tr>` +
                                    `<td>` + escapeHtml(item.id) + `</td>` +
                                    `<td><b>` + escapeHtml(item.from_user__email) + `</b><br>` + escapeHtml(item.message) + `</td>` +
                                    `<td>` + escapeHtml(time_string) + `</td>` +
                                    `<td id="view_notif_checked_id${escapeHtml(item.id)}"></td>` +
                                    `<td><button type="button" data-url="${escapeHtml(response.url)}${escapeHtml(item.id)}/" class="btn btn-outline-primary btn-md article_view_reviewer forshadow" style="float: right"><i class="fas fa-fw m-r-5 fa-pen"></i>
                                </button></td>` + `</tr>`;

                                $('#reviewer_checked_notifications').append(checked);

                                if (item.notification_status__id === 3) {
                                    $('#view_notif_checked_id' + item.id).html("<span class='badge badge-success'>" + escapeHtml(item.notification_status__name) + "</span>");
                                }
                            }
                        } else {
                            let tr = `<tr>` + `<td><h3 class="text-center" style="color: green;">{% trans "Ma'lumot topilmadi." %}</h3></td>` + `</tr>`;
                            $('#reviewer_checked_notifications').append(tr);
                        }
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
        });
    </script>
{% endblock %}