{% extends 'article_app/base.html' %}
{% load i18n %}
{% load static %}
{% load bleach_filters %}
{% block title %}
    {% trans Jurnal haqida %}
{% endblock %}
{% block content %}
    <div class="row"
         style="background-color: white; padding:10px; border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;">
        <div class="container">
            <br>
            <center><h4 class="title">{{ ob.title }}</h4></center>
            <br>
            <p>{{ ob.body|bleach_clean }}</p>
        </div>
    </div>
    <br>
{% endblock content %}