{% load i18n %}
{% load static %}
<form class="create_journal_number_form" method="post" data-url="{% url 'create_journal_number' %}">
    {% csrf_token %}
    {{ form.media }}
    <div class="modal fade" id="create_journal_number_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Son qo'shish" %}</h5>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body forshadow">
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Son" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.number }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Holati" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.status }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-white" data-dismiss="modal">{% trans "Yopish" %}</a>
                    <button type="submit" class="btn btn-primary">{% trans "Saqlash" %}</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('.create_journal_number_form').submit(function (e) {
            e.preventDefault();

            let year = $('.year').val();

            if (year == "") {
                $('.number').after('<span class="text-danger">To\'ldirilishi shart!</span>');
            } else {

                let formData = new FormData(this);

                let url = $('.create_journal_number_form').data('url');

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.result) {
                            $('#create_journal_number_modal').modal('hide');
                            swal({
                                icon: 'success',
                                title: response.message,
                                timer: 2000,
                            });
                            window.location.reload();
                        } else {
                            let cleanMessage = response.message
                                .replace(/<ul[^>]*>/g, '')
                                .replace(/<\/ul>/g, '')
                                .replace(/<li>/g, '• ')
                                .replace(/<\/li>/g, '\n')
                                .replace(/&#x27;/g, "'")
                                .replace(/year/g, 'Yil');

                            swal({
                                title: "Xatolik!",
                                icon: 'error',
                                text: cleanMessage,
                                timer: 3000,
                                html: true
                            });
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
            return false;
        });
    });
</script>
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{% static '/assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>

