{% load i18n %}
{% load static %}
{% load pages_tags %}
{% load bleach_filters %}
<div class="card card-forum" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
    <div class="card-header f-w-600"
         style="color:black; font-family: Tahoma, Helvetica, Arial, Sans-Serif; font-size: 12px;">{% trans "E'lonlar" %}
    </div>
    <ul class="threads-list">
        {% get_last_posts as posts %}
        {% for post in posts %}
            <li>
                <h4 class="title"
                    style="color:black; font-family: Tahoma, Helvetica, Arial, Sans-Serif; font-size: 12px;"><a
                        href="{{ post.get_absolute_url }}">{{ post.title|bleach_clean }}</a></h4>
            </li>
        {% endfor %}
    </ul>
</div>