{% load i18n %}
{% load static %}
{% load bleach_filters %}
<form class="edit_page_form forshadow" method="post" data-url="{% url 'edit_page' page.id %}">
    {% csrf_token %}
    {{ form.media }}
    <div class="modal modal-message fade" id="edit_page_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">{% trans "Sahifani o'zgartirish" %}</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body forshadow">
                    <div class="form-group row m-b-15">
                        <label class="col-form-label">{% trans "Sarlavhasi" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-12 col-sm-12">
                            {{ form.title }}
                        </div>
                    </div>
                     <div class="form-group row m-b-15">
                        <label class="col-form-label">{% trans "Kalit so'z" %}</label>
                        <div class="col-md-12 col-sm-12">
                            {{ form.key }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label">{% trans "Matn" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-12 col-sm-12">
                            {{ form.body }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label">{% trans "Nashr holati" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-12 col-sm-12">
                            {{ form.is_publish }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-white" data-dismiss="modal">{% trans "Yopish" %}</a>
                    <button type="submit" class="btn btn-primary">{% trans "Saqlash" %}</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{% static '/assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>


