{% extends 'article_app/base.html' %}
{% load static %}
{% load bleach_filters %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block content %}	
<div class="row" style="background-color: white; padding:10px; border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;">
	<div class="container">
		<br>
		<center><h2 class="title">{{ post.title }}</h2></center>
			<i class="fas fa-md fa-fw m-r-10 fa-calendar-alt"></i><span class="text-inverse">{{ post.created_at }}</span><br><br>
			<center><img src="{{ post.img.url}}"  width="50%" alt="" /></center><br>
		<p>{{ post.desc|bleach_clean }}</p>
	</div>		
</div>
{% endblock %}