{% load i18n %}
{% load static %}
{% load bleach_filters %}
<form class="create_article_form" method="post" data-url="{% url 'create_article' %}">
    {% csrf_token %}
    {{ form.media }}
    <div class="modal fade" id="create_article_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Maqola qo'shish" %}</h5>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                {% if is_data_full %}
                <div class="modal-body">
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Mamlakat" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.country }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Tur" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.article_type }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Til" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.article_lang }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Rukn" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.section }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Mavzu" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.title }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-white forshadow" data-dismiss="modal">{% trans "Yopish" %}</a>
                    <button type="submit" class="btn btn-primary forshadow"
                            id="my_article">{% trans "Saqlash" %}</button>
                </div>
                    {% else %}
                    <div class="text-danger">
                    {{ message }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</form>
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
<script>
    $(document).ready(function () {
        const $myCreateArticleForm = $('.create_article_form');
        $myCreateArticleForm.submit(function (e) {
            e.preventDefault();

            const $formData = $myCreateArticleForm.serialize();

            let url = $('.create_article_form').data('url');

            $.ajax({
                type: 'POST',
                url: url,
                data: $formData,
                success: function (response) {
                    if (response.result) {
                        $('#create_article_modal').modal('hide');
                        // Validate URL before redirect to prevent open redirect
                        if (response.url && response.url.toString().startsWith('/')) {
                            window.location.href = response.url.toString();
                        }
                    } else {
                        swal({
                            title: response.message,
                            timer: 2000,
                        });
                    }

                },
                error: function (error) {
                    console.log(error);
                }
            });

            return false;
        });
    });
</script>